body {
  background-color: rgb(250, 233, 233);
}

.mainImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 5px solid black;
}

.mainH1 {
  font-size: 70px;
  text-align: center;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mainH2 {
  font-size: 40px;
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.mainH3 {
  font-size: 25px;
  text-align: center;
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mainP {
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sign {
  border: 1px solid black;
  width: 90%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-align: center;
  background-color: rgb(172, 172, 179);
  border: 1px solid black;
  margin: 5px;
}

.listH3 {
  text-align: center;
  width: 90%;
}

.listUl {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linksP {
  text-align: center;
}

li {
  font-family: "Courier New", Courier, monospace;
}
